!!! 5
%html{:lang => "en"}
  %head
    = include_stylesheets :base 
    = csrf_meta_tag 
    %title Where R U
    %link{:href => "/images/icon.png", :rel => "shortcut icon", :type => "image/png"}
    
  %body
    %header
      %img{:src => "/images/logo.jpg"}
      %h1= link_to "Where R U", :root
      = render :partial => 'shared/navigation'
    #content
      =raw flash_messages(:error, :alert, :notice)
      = yield
